<br>
<br>
<br>
<br>
<br>
<br>
<app-nav-menu-jour></app-nav-menu-jour>
<br>
<div class="form-row ml-5">
<div class="card mb-3 ml-5" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/haricot1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HARICOT BLANCH</h5>
          <p class="card-text">
              Prix: 150 000 Ariary<br>
              Reste: 20 sac
          </p>
          <p class="card-text">
              <small class="text-muted">
                  <a href="#"
                     type="submit"
                     class="btn btn-info"
                   >
                      Interessé
                  </a>
             </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/haricot2.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HARICOT ROUSE</h5>
          <p class="card-text">
              Prix: 120 000 Ariary<br>
              Reste: 30 sac
          </p>
          <p class="card-text">
              <small class="text-muted">
                <a href="#"
                   type="button"
                   class="btn btn-info"
                >
                    Interessé
                </a>
             </small></p>
        </div>
      </div>
    </div>
  </div>
</div>