<br>
<br>
<app-nav-menu-jour></app-nav-menu-jour>
<br>
<div class="card-deck" style="margin-top: 8%;">
    <div class="card">
      <img src="assets/riz7.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="assets/riz7.jpg" class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
    </div>
    <div class="card">
      <img src="assets/riz7.jpg" class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
    </div>
  </div>
  <form action="">
      <div class="card-body" style="width: 50%;">
        <p class="card-text">
            <input type="text"
                    class="form-control col-6"
                    placeholder="Adress exacte"
            >
            <br>
            <input type="number"
                   placeholder="Telephnone"
                   class="form-control col-6"
            >
            Choisir la livraison
            <br>
            <select name="" id="" class="form-control col-6">
                <option value="/">...</option>
                <option value="">1 à 8 km</option>
                <option value="">Région local</option>
                <option value="">Autre region</option>
            </select>
            <br>
            Payement
            <select name="" id="" class="form-control col-6">
              <option value="">...</option>
              <option value="">Orange Money</option>
              <option value="">M-VOLA</option>
              <option value="">Aitel Money</option>
            </select>
            <br>
            <input type="submit"
                    class="btn btn-info"
            >
        </p>
      </div>
</form>