
<br>
<br>
<br>
<br>
<div class="container-fluid">
<div class="card">
    <h5 class="card-header">Historique</h5>
    <div class="card-body">
      <h5 class="card-title">Situation MADAGASCAR</h5>
      <p class="card-text">
        Premièrement, le Riz est une base alimentaire de Malagasy depuis 
        plusieurs années  et 98% dépond jusqu’Aujourd’hui 
        En suite, le Riz est une affaire plus puissance ici à MADAGASCAR, 
        donc plusieurs qui fond, alors c’est difficile à la population urbaine
         pour prendre le vrai qualité de riz



           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.

      </p>
      
    </div>
  </div>

  <br>
  <br>
  <div class="card">
    <h5 class="card-header">Mode d'utilisation</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.

      </p>
      
    </div>
  </div>
  <br>
<br>
  <div class="card">
    <h5 class="card-header">Parametre</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.

      </p>
      
    </div>
  </div>
  <br>
<br>
  <div class="card">
    <h5 class="card-header">Licence</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.
           With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, perferendis
           sapiente! Deserunt, nostrum! Est doloremque, dicta ut alias et libero?
           Nostrum assumenda pariatur recusandae facere harum quo quia, accusamus totam.

      </p>
      
    </div>
  </div>

</div>
