*{
    font-family: 'Times New Roman', Times, serif;
}

.copyright{
    text-align: center;
}
/* form{
    padding: 5%;
} */
.tt{
    text-align: center;
}
/* .content-footer{
    padding: 30px;
    border-top: 1px solid red;
} */
